<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url='@ViewBag.RedirectUrl'" />
</head>
<body>
    <div id="preloader">
        <div id="loader">
        </div>
        <div class="load-text">
        </div>
    </div>
    @RenderBody()
</body>
</html>
